
<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

    <title></title>
  </head>
  <body>
   <form action="/addbid" method="post"  enctype="multipart/form-data">


  
   
    <div class="jumbotron">
      <div class="container"><h1> Post Bids</h1></div>
    </div>

    <div class="container">
        BID Area WelCome !!!!!!!!
        <hr/>
        
            <div class="row">
        
             
        
        <div class="card" style="width: 18rem;" style="margin: 2%; float: left; ">
            
                <%  let pho=item.image  %>
                <% const imageBase64 = pho.toString('base64') %>
                <% const dataUri = `data:image/jpeg;base64,${imageBase64}` %>
        
           <div class="card-body">
                <% let pr= Number.parseInt(item.InitialPist)  %>
                
             Item Name  <h5 class="card-title"><%=item.Model %></h5>
             Starting Price  <h5 class="card-title"><%=pr.toLocaleString("en-US") %></h5>
             Description : <h5 class="card-title"><%=item.Description %></h5>
             
             <input   type="hidden" name="userid"  value="1"  />
             <input   type="hidden" name="itemid"  value="<%=item.Itemid %>"  />
             
           
            
        </div>         <img class="card-img-top"  width="400px"  height="200px" src="<%=dataUri %>" alt="Card image cap">
            
        
            </div>   

            
          <div class="card" style="width: 15rem;" style="margin: 1%; float: left; "> 
           <h5> BID</h5>
            <label for="sname" class="form-label">Price </label>
            <input type="text" name="inprice"   class="form-control" id="sname" placeholder="Price">
          
            <label for="sname" class="form-label"> </label>
            <button type="submit" class="btn btn-info">Bid</button>
         <!-- <a href="/addBid?itemid=<%=item.Itemid  %>" class="btn btn-primary">BID</a> -->
        
        </div>
        <div class="card" style="width: 18rem;" style="margin: 1%; float: left; "> 
           
            <label for="sname" class="form-label">BID Log  </label>

 
            <table class="table"   style="width: 100%;">
                <thead>
                  <tr>
                       <th scope="col">amount</th>
                    
                    <th scope="col">Bdate</th>
                 
                  </tr>
                </thead>
                <tbody>
                   
                  <% for(let itm in item2) {%>
                    
                    <% let amt= Number.parseInt(item2[itm].Amount)  %>
                 <tr>
                    <td><%=amt.toLocaleString("en-US") %></td>
                    <td><%=item2[itm].bdate %></td>
                  
                 </tr>

                 <% }%>
                </tbody>
              </table>


        </div>

        
        <div class="card" style="width: 18rem;" style="margin: 1%; float: left; "> 
            <label for="sname" class="form-label">Seller info </label>

            <%  let phoseler=item3.photo %>
            <% const photo2 = phoseler.toString('base64') %>
            <% const dataUri2 = `data:image/jpeg;base64,${photo2}` %>
     <img class="card-img-top"  width="400px"  height="200px" src="<%=dataUri2 %>" alt="Card image cap">
        
       <div class="card-body">
           
            
        name  <h5 class="card-title"><%=item3.fullname %></h5>
        Email  <h5 class="card-title"><%=item3.Email %></h5>
        Tele  <h5 class="card-title"><%=item3.Telephone %></h5>
        
        
         
       
        
    </div>        
    


    </div>
        </div>
           
    </div>
           
    </div>
    </div>
    
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
 
 </form>

</body>
</html>



