<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

    <title>Z BID </title>
  </head>
  <body>
   <form action="/procees" method="post">

 <%- include('Navbar'); %>
  
   
    
</div>

 <div class="container" >
    <div class="row">
<% for(let itm in item) {%>
     
    <div class="card" style="width: 18rem; margin: 2rem;">
  <%  let pho=item[itm].image  %>
        <% const imageBase64 = pho.toString('base64') %>
        <% const dataUri = `data:image/jpeg;base64,${imageBase64}` %>
   <% let pr= Number.parseInt(item[itm].InitialPist)  %>
     Name : <h5 class="card-title bg-light" ><%=item[itm].Model %></h5>
        Description   <p class="card-text"><%=item[itm].Description %>.</p>
        <img class="card-img-top"  width="400px"  height="200px" src="<%=dataUri %>" alt="Card image cap">
    
        <div class="card-body">
        
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">Initial PRice</li>
          <li class="list-group-item  bg-success"><%=pr.toLocaleString("en-US") %> $</li>
          <li class="list-group-item"> BID Reference : <%=item[itm].Itemid %></li>
        </ul>
        <div class="card-body">
          <a href="/bid?itemid=<%=item[itm].Itemid  %>" class="btn btn-primary">BID</a>
   
        </div>
      </div>


  <% } %>
  </div></div>
</div>
   

<div class="jumbotron">
    
  </div>
</form>

</body>

</html>